@keyframes spin {
  /* line 2, styles.scss */
  100% {
    transform: rotate(360deg);
  }
}

/* line 7, styles.scss */
body, button {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  margin: 0;
}

/* line 13, styles.scss */
body, .result-overlay, .loader {
  overflow: hidden;
}

/* line 16, styles.scss */
#push-me {
  width: 300px;
  height: 300px;
  border-radius: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  background: #f92020;
  border: 0;
  outline: 0;
}
/* line 28, styles.scss */
#push-me:focus, #push-me:active {
  outline: 0;
}
/* line 31, styles.scss */
#push-me:after {
  width: 299px;
  height: 150px;
  background: #da0000;
  position: absolute;
  top: 139px;
  left: 63px;
  display: block;
  content: "";
  border-radius: 0 0 300px 300px;
  -webkit-transform: rotate(-44deg);
  -moz-transform: rotate(-44deg);
  -ms-transform: rotate(-44deg);
  -o-transform: rotate(-44deg);
  transform: rotate(-44deg);
  z-index: -1;
}
/* line 48, styles.scss */
#push-me:hover {
  margin-top: -135px;
  margin-left: -135px;
}
/* line 51, styles.scss */
#push-me:hover:after {
  background: #fff;
}

/* line 56, styles.scss */
.loader {
  z-index: 1;
  opacity: 0;
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  display: table;
}
/* line 68, styles.scss */
.loader.visible {
  opacity: 0.5;
  pointer-events: initial;
}
/* line 72, styles.scss */
.loader p {
  color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  animation: spin 1s infinite;
}

/* line 80, styles.scss */
.result-overlay {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  background: linear-gradient(#ff0000, #ffa500);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  display: table;
}
/* line 90, styles.scss */
.result-overlay.visible {
  opacity: 1;
  pointer-events: initial;
}
/* line 94, styles.scss */
.result-overlay button {
  top: 0;
  right: 0;
  position: absolute;
  z-index: 2;
  background: transparent;
  border: 0;
  outline: 0;
  text-transform: none;
  padding: 0 0.4em;
}

/* line 106, styles.scss */
#result {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}
